# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

.vscode/
/.settings/
/.project
/.buildpath

# System Files
.git
.gitattributes
.gitlab-ci.yml
.DS_Store

# Temp files
_*

#Projeto FormDin5 com Adianti
/app/config/communication.ini
/app/config/framework_hashes.php
/app/config/ldap.ini
/app/config/log.ini
/app/config/permission.ini
/app/config/sample.ini
/app/config/sample.php
/app/config/unit_a.ini
/app/config/unit_b.ini
/app/config/unit_database.php

**/app/control/admin
**/app/control/start
**/app/control/communication
**/app/control/log
**/app/control/public/PublicView.class.php
**/app/control/CommonPage.class.php
**/app/control/MessageList.class.php
**/app/control/NotificationList.class.php
**/app/control/SearchBox.class.php
**/app/control/SearchInputBox.class.php
**/app/control/WelcomeView.class.php

**/app/database/communication.db
**/app/database/communication.sql
**/app/database/log-update.sql
**/app/database/log.db
**/app/database/log.sql
**/app/database/permission-update.sql
**/app/database/permission.asta
**/app/database/permission.sql
**/app/database/permission.xml
**/app/database/unit_a.db
**/app/database/unit_b.db

**/app/images

**/app/lib/barcode
**/app/lib/html
**/app/lib/include
**/app/lib/menu/
**/app/lib/pdf
**/app/lib/reports
/app/lib/util/AdiantiRouteTranslator.php
/app/lib/util/AdiantiUIBuilder.php
/app/lib/util/MailService.class.php
/app/lib/util/TApplicationFileSessionHandler.class.php
/app/lib/util/TMail.class.php
**/app/lib/validator
**/app/lib/widget

**/app/model/admin/
**/app/model/communication
**/app/model/log

**/app/output
**/app/reports
**/app/resources
**/app/service/
**/app/templates/theme3/
**/app/templates/theme4/

**/files
/lib/**
**/rest
**/tmp
**/vendor


**/composer.json
**/composer.lock
**/cmd.php
**/crontab.php
**/download.php
**/engine.php
**/htaccess-dist
LICENSE
**/menu-dist.xml
**/menu-public.xml
**/rest-secure.php.dist
**/rest.php.dist
**/soap.php.dist